<% if @world.user_id == current_user.id %>
    <%= link_to "Edit world", edit_world_path(@world) %> <br>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @world.name %>
</p>
 
<p>
  <strong>Genre:</strong>
  <%= @world.genre %>
</p>
 
<p>
  <strong>Aesthetic:</strong>
  <%= @world.aesthetic %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @world.description %>
</p>

            <h3>All characters at <%= @world.name %></h3>
            <div>
            <%= render partial: "characters/list", locals: {characters: @characters} %>
            </div>

<div>
    <strong><%= link_to "world plots", @world_plots_path %></strong>
    </div>
        
<%= link_to 'Back', worlds_path %>