<p>
  <strong>Name:</strong>
  <%= @world.name %>
</p>
 
<p>
  <strong>Genre:</strong>
  <%= @world.genre %>
</p>
 
<p>
  <strong>Aesthetic:</strong>
  <%= @world.aesthetic %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @world.description %>
</p>
 
<%= link_to 'Back', worlds_path %>