<p>
  <strong>Name:</strong>
  <%= @world.name %>
</p>
 
<p>
  <strong>Genre:</strong>
  <%= @world.genre %>
</p>
 
<p>
  <strong>Aesthetic:</strong>
  <%= @world.aesthetic %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @world.description %>
</p>

            <h3>All characters at <%= @world.name %></h3>
            <div>
            <%= render partial: "characters/list", locals: {characters: @characters} %>
            </div>
        
          <h3>All plots at <%= @world.name %></h3>
            <div>
            <%= render partial: "plots/list", locals: {plots: @plots} %>
            </div>
 
<%= link_to 'Back', worlds_path %>