<strong>world:</strong> <%= link_to @world.name, world_path(@world) %> <br>
  
<% if @character.user_id == current_user.id %>
    <%= link_to "Edit character", edit_world_character_path(@world) %> <br>
  <% else %>
 
<% end %>

<p>
  <strong>Name:</strong>
  <%= @character.name  %>
</p>
 
<p>
  <strong>alignment:</strong>
  <%= @character.alignment %>
</p>
 
<p>
  <strong>character_class:</strong>
  <%= @character.character_class %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>

<p>
  <strong>character_class:</strong>
  <%= @character.character_class %>
</p>
 
    <h3>All plots for <%= @world.name %></h3>
            <div>
            <%= render partial: "plots/list", locals: {plots: @plots} %>
            </div>
