<strong>world:</strong> <%= link_to @world.name, world_path(@world) %> <br>
  

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>
 
<p>
  <strong>alignment:</strong>
  <%= @character.alignment %>
</p>
 
<p>
  <strong>character_class:</strong>
  <%= @character.character_class %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>

<p>
  <strong>character_class:</strong>
  <%= @character.character_class %>
</p>
 
